<div class="container">
  <h5>ようこそ <strong>Bookers</strong> へ！</h5>

  <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
  <p>印象を共有し交換することができます</p>
  <p><%= link_to "start", new_user_registration_path, class: "btn btn-outline-dark" %></p>
</div>